export SECRET_KEY=something-very-secret-that-you-cannot-know
export MYSQL_HOST=chuyende.mysql.database.azure.com
export MYSQL_PORT=3306
export MYSQL_USERNAME=chuyende
export MYSQL_PASSWORD=Tienhuy180101
export MYSQL_DATABASE=chuyende